body{
	
    background: url(/img/coffee-g0272447bd_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -270px;
    background-attachment:fixed;
}

#principalnav{
    background-color: #D1F9EA;
}

#logincard{

    display: grid;
    place-items: center;
    padding: 15rem;

}



	
