/* General style and Desing in all pages*/

body{
	
    background: url(/img/coffee-g0272447bd_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -270px;
    background-attachment:fixed;
}

#principalnav{
    background-color: #e3f3fb;
}

#logincard{

    display: grid;
    place-items: center;
    padding: 15rem;

}

/* spefecific styles and desing in main.html*/




	
